.foreground {
     width: 70%;
     height: 70vh;
     position: relative;
     align-items: center;
     justify-content: center;
     background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));    
}
nav {
    width: 20%;
    position: absolute;
    top: 3px;;
    left: 3px;
    
}
nav.logo {
    height: 30%;
    width: 50%;
    border: 5px;

}
